server:
  port: 7010

spring:
  application:
    name: reservation-rush

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  datasource:
    hikari:
      maximum-pool-size: 50
    url: jdbc:h2:mem:reservationdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 

  springdoc:
    api-docs:
      path: /api-docs
      enabled: true
    swagger-ui:
      path: /swagger-ui.html
      enabled: true
      operations-sorter: alpha
      tags-sorter: alpha
      display-request-duration: true
      try-it-out-enabled: true
    default-pageable-as-query-param: true

logging:
  level:
    root: INFO
    dev.reservation.reservation_rush: DEBUG