name: reservation-rush-actions-ci
run-name: ${{ github.actor }} is learning Github Actions

on: 
  workflow_dispatch: 

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6479:6379

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install redis-cli
        run: |
          sudo apt-get update
          sudo apt-get install redis-tools

      - name: Redis connection test
        run: |
          echo "Redis available on 127.0.0.1:${{ job.services.redis.ports['6379'] }}"
          redis-cli -h 127.0.0.1 -p ${{ job.services.redis.ports['6379'] }} ping

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build
        run: ./gradlew clean build -x test
