name: reservation-rush-actions
run-name: ${{ github.actor }} is learning Github Actions

on: 
  workflow_dispatch: 

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6479:6379

    steps:
      - run: |
          echo "Redis available on 127.0.0.1:${{ job.services.redis.ports['6379'] }}"
          redis-cli -h 127.0.0.1 -p ${{ job.services.redis.ports['6379'] }} ping
