name: reservation-rush-actions
run-name: ${{ github.actor }} is learning Github Actions

on: 
  push:
    branches: main
  workflow_dispatch: 

jobs:
  test:
    runs-on: ubuntu-latest

  services:
    redis:
      image: redis:7-alpine
      ports:
        - 6479:6379

  steps:
    - run: |
        echo "Redis available on 127.0.0.1:${{ job.services.redis.ports['6379'] }}"
